<h2>Choose which answer you think was accepted!</h2>

<%var accordionID="answerAccordion" +stackQuestion.question_id %>
    <div class="accordion" id=<%=accordionID%>>
        <% for(var a=0; a < stackQuestion.answers.length; a++) { %>
            <% var answerHeader="answerHead" +stackQuestion.question_id+"_"+a%>
                <% var answerCollapse="answerCollapse" +stackQuestion.question_id+"_"+a%>
                    <div class="card">
                        <div class="card-header" id="<%=answerHeader%>">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                    data-target="#<%=answerCollapse%>" aria-expanded="false"
                                    aria-controls="<%=answerCollapse%>">
                                    <%var qID=stackQuestion.question_id%>
                                        <%var aID=stackQuestion.answers[a].answer_id%>
                                            Answer #<%=aID%>


                                                <%var badgeID=qID+"_"+aID%>
                                                    <%if(stackQuestion.answers[a].is_accepted){ %>
                                                        <span id=<%-badgeID%> class="badge badge-pill badge-success
                                                            d-none">Accepted answer!</span>
                                                        <%} else {%>
                                                            <span id=<%-badgeID%> class="badge badge-pill badge-danger
                                                                d-none">Not accepted</span>
                                                            <%}%>


                                                                <button type="button" onclick=<%-"showBadges(" + qID
                                                                    + "," + aID+")"%>
                                                                    class="btn btn-outline-primary">Guess</button>
                                </button>
                            </h2>
                        </div>
                        <div id="<%=answerCollapse%>" class="collapse" aria-labelledby="<%=answerHeader%>"
                            data-parent="#<%=accordionID%>">
                            <div class="card-body">
                                <%- stackQuestion.answers[a].body %>
                            </div>
                        </div>
                    </div>

                    <% } %>
    </div>