<% for(var i=0; i < items.length; i++) { %>
    <div class="card">
        <% var headIndex="heading" +i %>
            <div class="card-header" id="<%= headIndex %>">
                <h5 class="mb-0">
                    <%- items[i].title %>
                </h5>
            </div>

            <div class="card-body">
                <%- items[i].body -%>
            </div>

            <% for(var a=0; a < items[i].answers.length; a++) { %>
                <ul>
                    <li>
                        <%=items[i].answers[a].answer_id%> vs. <%=items[i].accepted_answer_id%>

                                <%if(items[i].answers[a].answer_id==items[i].accepted_answer_id){ %>
                                    <span class="badge badge-pill badge-success">Correct</span>
                                    <%} else {%>
                                        <span class="badge badge-pill badge-danger">Wrong</span>
                                        <%}%>
                    </li>
                </ul>


                <% } %>
    </div>

    <% } %>