<div class="accordion" id="accordionId">
    <% for(var i=0; i < items.length; i++) { %>
        <% var headIndex="heading" +i %>
            <% var collapseIndex="collapse" +i %>

                <div class="card">
                    <div class="card-header" id="<%= headIndex %>">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#<%=collapseIndex%>" aria-expanded="false"
                                aria-controls="<%=collapseIndex%>">
                                <span id="<%= items[i].question_id %>" class="badge badge-warning">New</span>
                                <%- items[i].title %>
                            </button>
                        </h2>
                    </div>
                    <div id="<%=collapseIndex%>" class="collapse" aria-labelledby="<%=headIndex%>"
                        data-parent="#accordionId">
                        <div class="card-body">
                            <%- items[i].body -%>

                                <%- include('../partials/answerlist', {stackQuestion: items[i]}); %>
                        </div>
                    </div>
                </div>

                <% } %>
</div>